git+git://github.com/metabolomics-us/carpy.git@steac#egg=cis-client&subdirectory=cis-client
git+git://github.com/metabolomics-us/carpy.git@steac#egg=stasis-client&subdirectory=stasis-client
git+git://github.com/metabolomics-us/pyspec.git#egg=pyspec&subdirectory=pyspec
pymzml
jupyter
seaborn
pandas