simplejson
numpy
openpyxl
pandas
requests
pytest
tqdm
git+git://github.com/metabolomics-us/carpy.git@track_ecs#egg=stasis-client&subdirectory=stasis-client
git+git://github.com/metabolomics-us/carpy.git@master#egg=crag&subdirectory=aggregator
colorama
boto3
PyYAML