simplejson
numpy
openpyxl
pandas
requests
pytest
tqdm
git+git://github.com/metabolomics-us/carpy.git@master#egg=stasis-client&subdirectory=stasis-client
git+git://github.com/metabolomics-us/carpy.git@master#egg=cis-client&subdirectory=cis-client
git+git://github.com/metabolomics-us/carpy.git@master#egg=crag&subdirectory=aggregator
colorama
boto3
PyYAML
pymzml
jupyter
seaborn
jupyter-datatables
papermill
pdfkit
docker
get-docker-secret
